<div class="dashboard-wrapper px-24 py-24">
  <p id="heading">Dashboard</p>
  <div class="profile-dashboard-stats d-flex justify-content-between">
    <div class="col-12 d-flex flex-wrap p-0">
      <div class="col-4 p-0 d-flex flex-column">
        <p>Statistics</p>
      </div>
      <div class="col-4 p-0 d-flex flex-column">
        <p>Win/Lose Ratio</p>
      </div>
      <div class="col-4 p-0 d-flex flex-column">
        <p>Top 5</p>
      </div>
    </div>
  </div>
  <app-profile-table></app-profile-table>
</div>
