<div class="profile-table-wrapper">
  <table class="profile-table">
    <thead>
    <tr>
      <th class="text-left">Game</th>
      <th class="text-left">Prediction</th>
      <th class="text-left">Date</th>
      <th class="text-right">Reward</th>
      <th class="text-right">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of loopTable">
      <td class="text-left">Isurus vs Infinity</td>
      <td class="text-left">Infinity wins</td>
      <td class="text-left">3th Jan2021.<br>14:30</td>
      <td class="text-right">125.000</td>
      <td class="text-right">Won</td>
    </tr>
    </tbody>
  </table>
</div>
