<div class="profile-table-wrapper">
  <table class="profile-table">
    <thead>
    <tr>
      <th class="text-left">Game</th>
      <th class="text-left">Prediction</th>
      <th class="text-left">Date</th>
      <th class="text-right">Reward</th>
      <th class="text-right">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prediction of userPredictions">
      <td class="text-left">Isurus vs Infinity</td>
      <td class="text-left">{{prediction.prediction}}</td>
      <td class="text-left">{{prediction.created_at | date}}<br>{{prediction.created_at | date:'HH:mm'}}</td>
      <td class="text-right">125.000</td>
      <td class="text-right">{{prediction.valid ? 'Won' : 'Lose'}}</td>
    </tr>
    </tbody>
  </table>
</div>
