<!-- TODO: Fix table width , cross over on right side -->
<div class="leadboard">
  <div class="leadboard__header">
    <div class="d-flex justify-content-between align-items-center">
      <h4>
        Leadboard
      </h4>
      <button>
        View All
      </button>
    </div>
    <div class="places d-flex justify-content-between">
      <div class="place-single">
        <div class="place-image">
          <img src="assets/img/leadbord-place-3.svg" alt="" class="img-fluid"/>
        </div>
        <p>#2</p>
      </div>
      <div class="place-single">
        <div class="place-image">
          <img src="assets/img/leadbord-place-1.svg" alt="" class="img-fluid"/>
        </div>
        <p>#1</p>
      </div>
      <div class="place-single">
        <div class="place-image">
          <img src="assets/img/leadbord-place-2.svg" alt="" class="img-fluid"/>
        </div>
        <p>#3</p>
      </div>
    </div>
  </div>
  <table class="leadboard__table">
    <thead>
    <tr>
      <th class="text-left">Place</th>
      <th class="text-left">Player</th>
      <th class="text-left">Score</th>
      <th class="text-right">Prize</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #01
            </span>
          <div class="icon icon__place">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23.5"
              height="19.5"
              viewBox="0 0 23.5 19.5"
            >
              <defs>
                <style>
                  .a {
                    fill: none;
                    stroke: #dcbf00;
                    stroke-width: 1.5px;
                  }
                </style>
              </defs>
              <g transform="translate(0.75 0.75)">
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(9.5)"
                />
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(19 4.239)"
                />
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(0 4.239)"
                />
                <path
                  class="a"
                  d="M8.5,11.5,4,10l2,8H18l2-8-4.5,1.5L12,6.5Z"
                  transform="translate(-1 -3)"
                />
                <line class="a" x2="13" transform="translate(4.5 18)"/>
              </g>
            </svg>
          </div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style>
                  .a {
                    fill: #2fdb57;
                  }
                </style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #02
            </span>
          <div class="icon icon__place">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23.5"
              height="19.5"
              viewBox="0 0 23.5 19.5"
            >
              <defs>
                <style>
                  .a {
                    fill: none;
                    stroke: #b7b7b7;
                    stroke-width: 1.5px;
                  }
                </style>
              </defs>
              <g transform="translate(0.75 0.75)">
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(9.5)"
                />
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(19 4.408)"
                />
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(0 4.408)"
                />
                <path
                  class="a"
                  d="M8.5,11.5,4,10l2,8H18l2-8-4.5,1.5L12,6.5Z"
                  transform="translate(-1 -3)"
                />
                <line class="a" x2="13" transform="translate(4.5 18)"/>
              </g>
            </svg>
          </div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              Fernandezmarco
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style>
                  .a {
                    fill: #2fdb57;
                  }
                </style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #03
            </span>
          <div class="icon icon__place">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23.5"
              height="19.5"
              viewBox="0 0 23.5 19.5"
            >
              <defs>
                <style>
                  .a {
                    fill: none;
                    stroke: #b7b7b7;
                    stroke-width: 1.5px;
                  }
                </style>
              </defs>
              <g transform="translate(0.75 0.75)">
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(9.5)"
                />
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(19 4.408)"
                />
                <circle
                  class="a"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(0 4.408)"
                />
                <path
                  class="a"
                  d="M8.5,11.5,4,10l2,8H18l2-8-4.5,1.5L12,6.5Z"
                  transform="translate(-1 -3)"
                />
                <line class="a" x2="13" transform="translate(4.5 18)"/>
              </g>
            </svg>
          </div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              chees2y
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style>
                  .a {
                    fill: #2fdb57;
                  }
                </style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #04
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              Stilled
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style>
                  .a {
                    fill: #2fdb57;
                  }
                </style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #05
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style></style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #05
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style></style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #05
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style></style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #05
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style></style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #05
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style></style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="table__container">
            <span>
              #05
            </span>
          <div class="icon icon__place"></div>
        </div>
      </td>
      <td>
        <div class="table__container table__container--start">
          <div class="avatar"></div>
          <span>
              WomboDucky
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__score"></div>
          <span>
              125.000
            </span>
        </div>
      </td>
      <td>
        <div class="table__container">
          <div class="icon icon__prize">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.862"
              height="16.068"
              viewBox="0 0 14.862 16.068"
            >
              <defs>
                <style></style>
              </defs>
              <g transform="translate(0 0)">
                <path
                  class="a"
                  d="M8.5,13.385c-3.577,0-6.562-1.3-7.269-3.037a2.052,2.052,0,0,0-.162.79c0,2.115,3.326,3.83,7.431,3.83s7.431-1.714,7.431-3.83a2.114,2.114,0,0,0-.161-.79C15.056,12.082,12.071,13.385,8.5,13.385Z"
                  transform="translate(-1.065 -4.489)"
                />
                <path
                  class="a"
                  d="M8.5,18.243c-3.577,0-6.562-1.3-7.269-3.036A2.053,2.053,0,0,0,1.065,16c0,2.114,3.326,3.829,7.431,3.829S15.927,18.113,15.927,16a2.117,2.117,0,0,0-.161-.792C15.056,16.94,12.071,18.243,8.5,18.243Z"
                  transform="translate(-1.065 -6.597)"
                />
                <path
                  class="a"
                  d="M8.5,23.256c-3.577,0-6.562-1.3-7.269-3.037a2.055,2.055,0,0,0-.162.792c0,2.115,3.326,3.829,7.431,3.829s7.431-1.713,7.431-3.829a2.119,2.119,0,0,0-.161-.792C15.056,21.954,12.071,23.256,8.5,23.256Z"
                  transform="translate(-1.065 -8.771)"
                />
                <ellipse
                  class="a"
                  cx="7.431"
                  cy="3.829"
                  rx="7.431"
                  ry="3.829"
                  transform="translate(0.001)"
                />
              </g>
            </svg>
          </div>
          <span>
              60.000
            </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
