<div class="login-home-wrapper d-flex flex-column">
  <div class="login-home-header d-flex flex-column">
    <p>Login</p>
    <p>Enter the details below</p>
  </div>

  <div class="login-home-form">
    <form action="" [formGroup]="homeLoginForm">
      <div class="d-flex flex-column">
        <mat-label>Username</mat-label>
        <mat-form-field
          appearance="outline"
          floatLabel="never"
          class="example-full-width">
          <input formControlName="username" matInput placeholder="Username"/>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <mat-label>Password</mat-label>
          <mat-label style="font-weight: normal">Forgot pass?</mat-label>
        </div>
        <mat-form-field
          appearance="outline"
          floatLabel="never"
          class="example-full-width">
          <input formControlName="password"
                 matInput type="password"
                 (keydown.enter)="login()"
                 placeholder="********"/>
        </mat-form-field>
      </div>
    </form>
  </div>

  <button class="button-gradient-green w-100" [disabled]="homeLoginForm.invalid" (click)="login()">Login</button>
  <p class="text-center">Or login with Steam or Google</p>
  <div class="login-icons d-flex justify-content-center flex-grow-1">
    <img src="../../../../assets/img/icons/steam.png" alt="" class="img-fluid">
    <img src="../../../../assets/img/icons/google.svg" alt="" class="img-fluid">
  </div>
</div>
