<div class="match">
  <div class="match__team" (click)="predictTeam(singleMatch.team_one, singleMatch.team_one_points)">
    <div class="match__team--desc">
      <div class="match__team--icon">
        <img [src]="singleMatch.team_one.team_logo" alt=""/>
      </div>
      <h4 class="match__team--title">{{singleMatch.team_one.team_name}}</h4>
    </div>
    <div class="match__team--score"
         [class.selected-team]="predictedMatch.team === singleMatch.team_one.team_name">{{singleMatch.team_one_points}}</div>
  </div>
  <div class="match__description">
    <div class="match__description--background"></div>
    <div class="match__description--title">
      FlowFiReLEAGUE 2020 Regional Finals
    </div>
    <div class="match__description--date">
      <div class="icon">
        <svg-icon src="../../../../../assets/img/match-clock.svg"></svg-icon>
        <!-- <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 14 14"
        >
          <defs>
            <style>
              .a {
                fill: none;
              }

              .b {
                fill: #fff;
              }
            </style>
          </defs>
          <g transform="translate(0.363 0.363)">
            <rect
              class="a"
              width="14"
              height="14"
              transform="translate(-0.363 -0.363)"
            />
            <path
              class="b"
              d="M29.393,24a5.393,5.393,0,1,0,5.393,5.393A5.393,5.393,0,0,0,29.393,24Zm2.9,5.808h-2.9a.415.415,0,0,1-.415-.415v-2.9a.415.415,0,1,1,.83,0v2.489H32.3a.415.415,0,1,1,0,.83Z"
              transform="translate(-22.756 -22.756)"
            />
          </g>
        </svg>-->
      </div>
      <span>{{singleMatch.date | date:'HH:mm'}}</span>
    </div>
  </div>
  <div class="match__team" (click)="predictTeam(singleMatch.team_two , singleMatch.team_two_points)">
    <div class="match__team--desc">
      <div class="match__team--icon">
        <img [src]="singleMatch.team_two.team_logo" onerror="" alt="" (error)="errorHandler($event)"/>
      </div>
      <h4 class="match__team--title">{{singleMatch.team_two.team_name}}</h4>
    </div>
    <div class="match__team--score"
         [class.selected-team]="predictedMatch.team === singleMatch.team_two.team_name">{{singleMatch.team_two_points}}</div>
  </div>
</div>
