@import "../../../../assets/palette";


.leadboard__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  color: #fff;

  button {
    font-size: 14px;
    border: 1px solid #b5c80e;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 52px;
    cursor: pointer;
  }

  .places {
    .place-single {
      display: flex;
      flex-direction: column;
      align-items: center;

      .place-image {
        height: 200px;
        display: flex;
        align-items: start;

        img {
          height: 100%;
        }
      }
    }
  }
}

table {
  width: 100%;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  background: $modal-background;

  th {
    color: white !important;
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  td {
    color: white !important;
  }

  tbody tr:nth-child(even) {
    background: $main-blue-gray !important;
  }
}

.mat-paginator {
  border-radius: 0 0 6px 6px;
  background: $modal-background;

  ::ng-deep {
    button, .mat-paginator-page-size {
      color: white !important;
    }
    mat-form-field .mat-form-field-wrapper{

    }
  }
}
