.matches {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &--main {
      display: flex;
      font-size: 15px;
      line-height: 15px;
    }

    &--text {
      color: #fff;
    }

    &--icon {
      height: 40px;
      width: 40px;
      background-color: grey;
      margin-right: 13px;
    }

    &--title {
      font-size: 15px;
      font-weight: bold;
    }

    &--desc {
      font-size: 15px;
    }

    &--games {
      font-size: 15px;
      line-height: 15px;
      background-color: #253340;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      color: #fff;
    }
  }
}

.match {
  height: 80px;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  background-color: #253340;
  color: #fff;

  &__team {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 12px;

    &:last-child {
      padding-left: 12px;
      padding-right: 22px;

      .match__team--desc {
        order: 2;

        .match__team--icon {
          order: 2;
          margin-right: 0;
          margin-left: 24px;
        }
      }
    }

    &--desc {
      display: flex;
      align-items: center;
    }

    &--icon {
      height: 36px;
      width: auto;
      margin-right: 24px;
    }

    &--title {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
    }

    &--score {
      width: 56px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      background-color: #1A2937;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0px;
    }
  }

  &__description {
    width: 130px;
    border: 1px solid #565656;
    border-radius: 6px;
    padding: 16px 13px;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 12px;
    position: relative;

    &--background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #83BE22, #132C3B);
      z-index: 1;
      opacity: .35;
    }

    &--title {
      margin-bottom: 14px;
      position: relative;
      z-index: 2;
    }

    &--date {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
    }

    .icon {
      margin-right: 6px;
    }
  }
}

.banner {
  display: block;
  width: 100%;
  height: 236px;
  color: #fff;
  background-color: #253340;
  padding: 32px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.02px;
  margin: 24px 0;
  background-image: url('../../../../assets/img/banner-background.png');
  background-size: cover;
  border-radius: 6px;

  &__heading {
    font-size: 32px;
    margin-bottom: 37px;
    line-height: 32px;
    letter-spacing: -0.06px;
    font-weight: bold;
  }
}

.about {
  display: flex;
  margin-bottom: 24px;

  &__box {
    width: calc((100% - 48px) / 3);
    padding: 40px 0;
    margin-right: 24px;
    background-color: #1A2937;
    box-shadow: 0px 3px 6px #00000029;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 12px;
    border-radius: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    height: 80px;
    margin-bottom: 30px;
  }

  &__heading {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

/*
.leadboard {

  &__header {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    color: #fff;

    button {
      font-size: 14px;
      border: 1px solid #B5C80E;
      border-radius: 4px;
      background-color: transparent;
      outline: none;
      color: #fff;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      padding: 0 52px;
      cursor: pointer;
    }
  }

  &__table {
    width: 100%;
    background-color: #1A2837;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 108px;
    border-collapse: collapse;

    tr {
      height: 72px;
    }

    .text-left {
      text-align: left;
    }

    .text-right {
      text-align: right;
    }

    th,td {
      padding: 0 30px;
    }

    .table__container {
      display: flex;
      align-items: center;
      justify-content: center;

      &--start {
        justify-content: flex-start;
      }
    }

    .icon {

      &__place {
        width: 23.5px;
        margin-left: 45px;
      }

      &__score {
        width: 21px;
        height: 21px;
        margin-right: 8px;
        background-color: #F6F418;
      }

      &__prize {
        margin-right: 8px;
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      background-color: #5CB6E5;
      border-radius: 6px;
      margin-right: 16px;
    }

    thead {
      font-size: 14px;
    }

    tbody {
      font-size: 16px;

      tr {
        &:nth-child(odd) {
          background-color: #0A1A2A;
        }
      }
    }
  }
}
*/
