<div class="matches-settings" *ngIf="haveOptions">
  <div class="matches-options-search">
    <div class="col-md-8 col-sm-12 m-0 p-0 matches-options">
      <div class="matches-options-select"
           (click)="selectMatchesByTime('all')"
           [class.matches-options-select-active]="selectedMatchesOption === 'all'">All matches ({{matches?.length ? matches?.length : 0}})
      </div>
      <div class="matches-options-select"
           (click)="selectMatchesByTime('upcoming')"
           [class.matches-options-select-active]="selectedMatchesOption === 'upcoming'">
        Upcoming({{upcomingMatches?.length ? upcomingMatches?.length : 0}})
      </div>
      <div class="matches-options-select"
           (click)="selectMatchesByTime('live')"
           [class.matches-options-select-active]="selectedMatchesOption === 'live'">Live({{pastMatches?.length ? pastMatches?.length : 0}})
      </div>
    </div>
    <div class="col-md-4 col-sm-12 p-0 search-match">
      <div class="search-wrapper">
        <input matInput type="search" placeholder="Search Matches..."
               [autocomplete]="false"
               [autofocus]="true"
               [(ngModel)]="searchValue">
      </div>
    </div>
  </div>
  <div class="col-12 p-0 m-0 d-flex justify-content-between">
  </div>
</div>

<app-single-match *ngFor="let match of matchesList | filter: searchValue; let index = index"
                  [singleMatch]="match"
                  [index]="index"
                  [predictedMatch]="returnPredictedMatch(match)"
                  [allowedClick]="canUserClick"
>
</app-single-match>

<div *ngIf="!haveOptions" class="show-more d-flex flex justify-content-end align-items-center" style="margin: 12px 0">
  <button class="button-gradient-green" [routerLink]="'/matches'">Show more</button>
</div>
