@import "src/assets/palette";

/* select options on matches list */
.matches-settings {
  display: flex;
  flex-direction: column;

  .matches-options-search {
    width: 100%;
    display: flex;

    .matches-options {
      &-select {
        color: white;
        padding: 12px;
        cursor: pointer;
        &:hover{
          color: $main-yellow;
        }
      }
    }

    .search-match {
      mat-form-field{
        width: 100%;
      }
    }
  }
}
