<div class="matches-settings" *ngIf="haveOptions">
  <div class="matches-options-search">
    <div class="col-8 m-0 p-0 d-flex matches-options">
      <div class="matches-options-select">All matches</div>
      <div class="matches-options-select">Upcoming</div>
      <div class="matches-options-select">Live</div>
    </div>
    <div class="col-4 m-0 p-0 search-match">
<!--      <input type="search" placeholder="Search matches...">-->
      <mat-form-field class="example-form-field">
        <mat-label>Search matches...</mat-label>
        <input matInput type="search" placeholder="Search matches..."
               [(ngModel)]="searchValue"
               (ngModelChange)="changedInput($event)">
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 p-0 m-0 d-flex justify-content-between">
  </div>
</div>

<app-single-match *ngFor="let match of matches | filter: searchValue; let index = index"
                  [singleMatch]="match"
                  [index]="index">
</app-single-match>
