<div
  class="logged-user"
  *ngIf="isLogged"
  (click)="toggleDropdown()"
  [class.user-dropdown-opened]="isDropdownToggled"
>
  <div class="username-coins" *ngIf="!showDataMobile && loggedUserInfo">
    <p>{{loggedUserInfo?.name}} {{loggedUserInfo?.surname}}</p>
    <div class="d-flex coins">
      <img src="assets/img/logged-user-coins.svg" alt="" class="img-fluid" />
      <p>{{loggedUserInfo?.points}}</p>
    </div>
  </div>
  <img
    src="assets/img/logged-user.png"
    alt="pick-n-win-logged-user-avatar"
    class="img-fluid"
  />
</div>

<!-- Profile dropdown  -->
<!--  TODO: fix menu style / only toggle when is logged -->
<div
  class="login-dropdown position-absolute d-flex flex-column"
  *ngIf="isDropdownToggled"
  #profileDropdown
  [style.bottom]="profileDropdownBottomOffset"
>
  <div
    class="dd-item pl-24"
    *ngFor="let item of userDropdown"
    [routerLink]="item.path"
    (click)="isDropdownToggled = false"
  >
    <svg-icon
      [src]="
        '/assets/img/icons/profile-dropdown/profile-dd-' + item.icon + '.svg'
      "
    ></svg-icon>
    <p>{{ item.name }}</p>
  </div>
  <!-- Logout separate function-->
  <div class="dd-item pl-24" (click)="userLogout(); isDropdownToggled = false">
    <svg-icon
      src="/assets/img/icons/profile-dropdown/profile-dd-logout.svg"
    ></svg-icon>
    <p>Logout</p>
  </div>
</div>
<!-- Profile dropdown  -->
