@import "../../../../assets/palette";

.navbar {
  height: 88px;
  background: rgba(37, 51, 64, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-bar-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;

    .row {
      height: 100%;
      width: 100%;

      .logo-navi {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;

        .logo {
          max-height: 54px;

          img {
            height: 54px;
          }
        }

        .navigation {
          margin-left: 200px;
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%;

          .nav-item {
            margin-right: 40px;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;

            p {
              margin: 0;
              font: normal normal medium 15px/23px Poppins;
              color: white;
              height: 100%;
              border-top: 4px solid transparent;
              display: flex;
              align-items: center;

              &.active-route {
                color: $main-yellow;
                border-top: 4px solid $main-yellow;
              }
            }

            &:hover {
              p {
                color: $main-yellow;
                border-top: 4px solid $main-yellow;
              }
            }
          }
        }
      }

      /* Register , Login and Profile section */
      .register-login-profile {
        position: relative;
        max-width: 330px;
        width: 100%;
        height: 100%;

        /* If user not logged */
        .register-login-buttons {
          height: 100%;
          display: flex;
          align-items: center;
          position: relative;

          button:last-of-type {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
