<div class="container-fluid p-0 navbar">
<div class="nav-bar-wrapper">
  <div class="row m-0 px-24 d-flex flex-row align-items-center">
    <div class="logo-navi">
      <div class="logo">
        <img src="../../../../assets/img/logo2x.png" alt="" class="img-fluid">
      </div>
      <div class="navigation">
        <div class="nav-item" *ngFor="let n of navigation">
          <p [routerLink]="n.path" [routerLinkActive]="['active-route']" [routerLinkActiveOptions]="{ exact: true }">{{n.name}}</p>
        </div>
      </div>
    </div>
    <div class="register-login">
      <button class="button-gradient-green">Register</button>
      <button class="button-border-green">Login</button>
    </div>
  </div>
</div>
</div>
