<div class="container-fluid p-0 navbar">
  <div class="nav-bar-wrapper">
    <div class="row m-0 px-24 d-flex flex-row align-items-center">
      <div class="logo-navi">
        <div class="logo">
          <img src="../../../../assets/img/logo2x.png" alt="" class="img-fluid" [routerLink]="'/'">
        </div>
        <div class="navigation">
          <div class="nav-item" *ngFor="let n of navigation">
            <p [routerLink]="n.path" [routerLinkActive]="['active-route']"
               [routerLinkActiveOptions]="{ exact: true }">{{n.name}}</p>
          </div>
        </div>
      </div>
      <!-- Section for login/register and profile when user is logged -->
      <div class="register-login-profile">
        <!-- This if not logged -->
        <div class="register-login-buttons" *ngIf="!isLoggedUser">
          <button class="button-gradient-green" [routerLink]="'/register'">Register</button>
          <button class="button-border-green" [routerLink]="'/login'">Login</button>
        </div>
        <app-main-toolbar-dropdown
          [isLogged]="isLoggedUser">
        </app-main-toolbar-dropdown>
      </div>
    </div>
  </div>
</div>
