<div class="container-fluid p-0 navbar">
  <div class="nav-bar-wrapper">
    <div class="row m-0 px-24 d-flex flex-row align-items-center">
      <div class="logo-navi">
        <div class="logo">
          <img src="../../../../assets/img/logo2x.png" alt="" class="img-fluid" [routerLink]="'/'">
        </div>
        <div class="navigation">
          <div class="nav-item" *ngFor="let n of navigation">
            <p [routerLink]="n.path" [routerLinkActive]="['active-route']"
               [routerLinkActiveOptions]="{ exact: true }">{{n.name}}</p>
          </div>
        </div>
      </div>

      <!-- Section for login/register and profile when user is logged -->
      <div class="register-login-profile">
        <!-- This if not logged -->
        <div class="register-login-buttons" *ngIf="!isLogged">
          <button class="button-gradient-green" [routerLink]="'/register'">Register</button>
          <button class="button-border-green" [routerLink]="'/login'">Login</button>
        </div>
        <div class="logged-user"
             *ngIf="isLogged"
             (click)="toggleDropdown()"
             [class.user-dropdown-opened]="isDropdownToggled">
          <div class="username-coins">
            <p>Jonathan Smith</p>
            <div class="d-flex coins">
              <img src="assets/img/logged-user-coins.svg" alt="" class="img-fluid">
              <p>125.000</p>
            </div>
          </div>
          <img src="assets/img/logged-user.png" alt="" class="img-fluid">
        </div>

        <!--  Position absolute LOGIN DD -->
        <!--  TODO: fix menu style / only toggle when is logged -->
        <div class="login-dropdown position-absolute d-flex flex-column"
             *ngIf="isDropdownToggled">
          <div class="dd-item pl-24" *ngFor="let item of userDropdown" [routerLink]="item.path">
            <svg-icon [src]="'/assets/img/icons/profile-dropdown/profile-dd-' + item.icon + '.svg'"></svg-icon>
            <p>{{item.name}}</p>
          </div>
         <!-- <div class="dd-item">
            <img src="" alt="">
            <p>Notifications</p>
          </div>
          <div class="dd-item">
            <img src="" alt="">
            <p>Billing</p>
          </div>
          <div class="dd-item">
            <img src="" alt="">
            <p>Settings</p>
          </div>
          <div class="dd-item" (click)="logoutUser()">
            <img src="" alt="">
            <p>Logout</p>
          </div>-->
        </div>
        <!-- Position absolute LOGIN DD -->
      </div>

    </div>
  </div>
</div>
