<div class="profile-billing-wrapper px-24 py-24">
  <div class="profile-billing-container">
    <p class="profile-billing-container_heading">Billing</p>
    <div class="profile-billing-container_types">
      <div class="billing-type">
        <div class="billing-type_icon">
          <img src="assets/img/profile/profile-billing-free.svg" alt="" class="img-fluid">
        </div>
        <div class="billing-type_text">
          <div class="account-type">
            <p>Free</p>
          </div>
          <div class="account-type-description">
            <p>Predict 2 games a day</p>
            <p>Get ranked in Free tier ladder!</p>
          </div>
        </div>
        <div class="billing-type_price">
          <p>$ 0.00 / Month</p>
        </div>
        <div class="billing-type_additional">
          <p>2 Games a day</p>
          <p>Get ranked</p>
        </div>
        <div class="billing-type_activate">
          <button class="button-gradient-green">Active</button>
        </div>
      </div>
      <div class="billing-type">
        <div class="billing-type_icon">
          <img src="assets/img/profile/profile-billing-premium.svg" alt="" class="img-fluid">
        </div>
        <div class="billing-type_text">
          <div class="account-type">
            <p>Premium</p>
          </div>
          <div class="account-type-description">
            <p>Predict 2 games a day</p>
            <p>Get ranked in Free tier ladder!</p>
          </div>
        </div>
        <div class="billing-type_price">
          <p>$ 4.99 / Month</p>
        </div>
        <div class="billing-type_additional">
          <p>√ Unlimited games a day</p>
          <p>√ Premium tear ladder</p>
          <p>√ Get Bigger Rewards</p>
        </div>
        <div class="billing-type_activate">
          <button class="button-border-green" style="background: #0a1a2a">Order now</button>
        </div>
      </div>
    </div>
  </div>
</div>
