<div class="profile-billing-wrapper">
  <div class="profile-billing-container">
    <p class="profile-billing-container_heading">Billing</p>
    <div class="pprofile-billing-container_types">
      <div class="billing-type">
        <div class="billing-type_icon"></div>
        <div class="billing-type_text"></div>
        <div class="billing-type_price"></div>
        <div class="billing-type_additional"></div>
        <div class="billing-type_activate">
          <button class="button-gradient-green">Active</button>
        </div>
      </div>
    </div>
  </div>
</div>
