@import "../../../../assets/palette";

.matches-page-container {
  background: $main-dark-blue;
  /* Menu bug */
  margin-top: -88px;
  padding-top: 120px;

  .app-upgrade-premium {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1366px){

}
