<div class="container-fluid d-flex justify-content-center matches-page-container">
  <div class="w-1440 px-24 d-flex justify-content-between">
    <div class="mw-330">
      <app-game-categories-component></app-game-categories-component>
      <app-upgrade-premium></app-upgrade-premium>
    </div>
    <div class="mw-684 d-flex flex-grow-1 flex-fill-1">
      <app-matches-list [matches]="allMatches" class="w-100"></app-matches-list>
    </div>
    <div class="mw-330">
      <app-predictions-component></app-predictions-component>
    </div>
  </div>
</div>
