@import "../../../../assets/palette";

.predictions-wrapper {
  display: flex;
  //max-width: 330px;
  width: 100%;
  background: $main-blue-gray;
  border-radius: 6px;
  padding: 16px;

  .predictions-container {
    width: 100%;

    button.submit-predictions {
      width: 100%;
      height: 40px;
      background: transparent linear-gradient(262deg, #80be23 0%, #b5c80e 100%) 0% 0% no-repeat padding-box;
      border-radius: 4px;
      border: none;
      outline: none;
      margin-top: 24px;
      font-size: 14px;
      line-height: 21px;
      color: white;
    }
  }

  // FLOATING PREDICTION FOR MOBILE
  &.mobile-predictions {
    padding: 0 !important;
    box-shadow: 0 0 5px 1px rgb(255, 255, 255, 0.4) !important;

    .predictions-container {
      ::ng-deep {
        mat-tab-group {
          flex-direction: column-reverse;
          //height: apx;
          &.collapsed-container {
            height: 40px;
          }

          // head deo
          mat-tab-header {
            height: 40px;

            .mat-tab-label-container {
              .mat-tab-labels {
                height: 100%;
                background: #0a1a2a;

                .mat-tab-label {
                  height: 100%;
                }
              }
            }
          }

          //content deo
          .mat-tab-body-wrapper {
            margin: 0 !important;
            padding: 12px;
            max-height: 300px;
            overflow: scroll;
          }

          .prediction-expand-collapse {
            background: #1a2937;
            border-radius: 3px;
          }
        }

        mat-tab-group.mat-tab-group.mat-primary.mat-background-#fff {
          flex-direction: column-reverse !important;
        }
      }
    }
  }
}

::ng-deep {
  mat-tab-group {
    mat-tab-header {
      .mat-tab-label-container {
        .mat-tab-list {
          .mat-tab-labels {
            .mat-tab-label {
              height: 83px;
              padding: 0 !important;
              cursor: pointer;
              box-sizing: border-box;
              opacity: 1;
              min-width: 50px !important;
              text-align: center;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              white-space: nowrap;
              position: relative;
              width: 100%;

              &-content {
                color: white;
                display: flex;
                align-items: center;

                mat-icon.mat-icon {
                  height: 16px;
                  font-size: 16px;
                  line-height: 15px;
                }
              }
            }
          }
        }
      }
    }

    .mat-ink-bar {
      background: $main-yellow !important;
    }

    .mat-tab-body-wrapper {
      margin-top: 8px;
      //app-single-prediction-component{
      //  margin-top: 8px;
      //}
    }
  }
}
