<div class="game-categories-wrapper d-flex flex-column">
  <div class="game-categories-heading">
    <div class="game-categories-heading-content">
      <img src="../../../../assets/img/game-categories.svg" alt="" class="img-fluid">
      <p>Game Categories</p>
    </div>
  </div>

  <div class="game-categories-list">
    <div class="game-categories-list_item">
      <div class="list-item-border"></div>
      <div class="list-item-icon-text">
        <img src="../../../../assets/img/csgo-icon.svg" alt="" class="img-fluid">
        <p class="text">CS:GO</p>
      </div>
    </div>
    <div class="game-categories-list_item">
      <div class="list-item-border"></div>
      <div class="list-item-icon-text">
        <img src="../../../../assets/img/dota2-icon.png" alt="" class="img-fluid">
        <p class="text">DOTA2</p>
      </div>
    </div>
  </div>
</div>
