<div class="container-fluid heading-background d-flex justify-content-center">
  <div class="home-main w-1440 px-24">
    <div class="heading-text d-flex flex-column" style="max-width: 450px;">
      <h3>Win Rewards by</h3>
      <h3><b>Predicting CS:GO Matches</b></h3>
      <p>
        Looking for the best CSGO betting site? Join Picknwin and bet on CS:GO -
        the second biggest eSports game in terms of prize pools with over 70
        million players.
      </p>
    </div>
    <div class="mw-330">
      <app-home-login-component></app-home-login-component>
    </div>
  </div>
</div>

<div class="home__matches d-flex justify-content-center">
  <div class="home__matches--wrapper d-flex justify-content-between w-1440 px-24">
    <div class="mw-330">
      <app-upgrade-premium></app-upgrade-premium>
    </div>
    <div class="mw-684">
      <app-matches-list [matches]="allMatches"></app-matches-list>
    </div>
    <div class="mw-330">
      <app-home-login-component></app-home-login-component>
    </div>
  </div>
</div>

<div class="container-fluid main-background-blue">
  <div class="container d-flex justify-content-center">
    <div class="d-flex flex-column mw-684">
      <app-promo-banner-component></app-promo-banner-component>
      <!-- 3 cols description-->
      <div class="d-flex justify-content-between" style="margin-bottom: 24px">
        <div class="col-4 three-descriptions">
          <div class="picture">
            <img src="assets/img/gd1.svg" alt="">
          </div>
          <span>Game Description</span>
          <p>Looking for the best CSGO betting site? Join Picknwin and bet on CS:GO</p>
        </div>
        <div class="col-4 three-descriptions">
          <div class="picture">
            <img src="assets/img/gd2.svg" alt="">
          </div>
          <span>Game Description</span>
          <p>Looking for the best CSGO betting site? Join Picknwin and bet on CS:GO</p>
        </div>
        <div class="col-4 three-descriptions">
          <div class="picture">
            <img src="assets/img/gd3.svg" alt="">
          </div>
          <span>Game Description</span>
          <p>Looking for the best CSGO betting site? Join Picknwin and bet on CS:GO</p>
        </div>
      </div>
      <!-- 3 cols description-->
      <app-leadbord-table-component></app-leadbord-table-component>
    </div>
  </div>
</div>
