@import "../../../../assets/palette";

.heading-background {
  background: url("../../../../assets/img/heading-csgo.jpeg");
  background-size: cover;
  margin-top: -88px;
  padding-top: 112px;
  padding-bottom: 24px;

  .home-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading-text {
      h3,
      p {
        color: white;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}

.three-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 212px;
  width: 100%;
  height: 280px;
  border-radius: 6px;
  background: #1A2937;

  .picture {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;
    }
  }

  span {
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 14px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    color: white;
    text-align: center;
  }
}

.home__matches {
  padding-top: 24px;
  background: $main-dark-blue;

  app-matches-list {
    max-width: 684px;
    width: 100%;
  }
}

.main-background-blue {
  padding: 12px;
}

// only for mobile devices
@media screen and (max-width: 480px) {
  .home__matches {
    padding-top: 0 !important;

    &--wrapper {
      .mw-330:first-of-type {
        margin: 12px !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .heading-background {
    background-position: center center;
  }
  // TODO: FIX this CLASS NAME in html & scss
  .home-info-details {
    flex-direction: column;
    margin-bottom: 24px;

    .col-4.three-descriptions {
      max-width: unset;
      margin-bottom: 12px;
    }
  }

  .home__matches--wrapper {
  }

  .mw-684 {
    padding: 0 12px;
  }
}

@media screen and (max-width: 768px) {
  .home-main .heading-text {
    padding: 0 12px;
  }
  .main-background-blue {
    padding: 0 !important;
  }
  //Mobile prediction
  ::ng-deep.prediction-component-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: auto;
    padding: 0;
    z-index: 10;
  }
}

// lomi se premium/tablea/login
@media screen and (max-width: 1392px) {
  .home__matches .home__matches--wrapper {
    justify-content: center;
    // prvo ide login i premium
    .mw-684 {
      order: 2;
    }

    .mw-330 {
      //margin: 24px 12px;
      margin: 0;

      &:first-of-type {
        margin-right: 24px;
      }
    }
  }
}

@media screen and (min-width: 1392px) {
  .home__matches .home__matches--wrapper {
    justify-content: space-between;
  }
}
