@import "../../../../assets/palette";

.heading-background {
  background: url("../../../../assets/img/heading-csgo.jpeg");
  background-size: cover;
  margin-top: -88px;
  padding-top: 112px;
  padding-bottom: 24px;

  .home-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading-text {
      h3,
      p {
        color: white;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}

.three-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 212px;
  width: 100%;
  height: 280px;
  border-radius: 6px;
  background: #1A2937;

  .picture {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;
    }
  }

  span {
    font-weight: 600;
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 14px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    color: white;
    text-align: center;
  }
}

.home__matches {
  padding-top: 54px;
  background: $main-dark-blue;

  app-matches-list {
    max-width: 684px;
    width: 100%;
  }
}
