<!--<h2 mat-dialog-title>Install Angular</h2>-->
<div class="custom-dialog-box">
  <div mat-dialog-title>
    <div class="d-flex justify-content-end">
      <img mat-dialog-close src="../../../../assets/img/icons/close-modal-dialog.svg" alt="close dialog">
    </div>
  </div>
  <mat-dialog-content class="mat-typography d-flex flex-column align-items-center justify-content-center">
    <img src="../../../../assets/img/icons/warning.svg" alt="">
    <h2 style="color: white">You have to be a registered member to predict matches.</h2>
    <p style="color: white">You have to be a registered member to predict matches.</p>
  </mat-dialog-content>
</div>
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
<!--</mat-dialog-actions>-->
