@import "../../assets/palette";

/* Common margins */
.m-24 {
  margin: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-24 {
  margin-right: 24px;
}

/* Common paddings 24px */
.p-24 {
  padding: 24px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

/* Main background colors */
.main-background-blue {
  background: $main-dark-blue;
}

.main-background-blue-gray {
  background: $main-blue-gray-06;
}

/* Gradients buttons */
.button-gradient-green {
  @include gradient();
  border: none;
  border-radius: 4px;
  font: normal normal 600 14px/21px Poppins;
  color: white;
  height: 40px;
  width: 160px;
}

.button-border-green {
  @include border-green6();
  color: white;
  background: transparent;
  height: 40px;
  width: 160px;
}

.cursor-pointer {
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .px-24 {
    padding: 0 !important;
  }
  /* MAX WIDTH 330 */
  .mw-330 {
    //max-width: auto;
    width: 100%;
  }
  /* MAX WIDTH 684 */
  .mw-684 {
    //max-width: 684px;
    width: 100%;
  }
  /* MAX / WIDTH 1440 */
  .w-1440 {
    //max-width: 1440px;
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  /* MAX WIDTH 330 */
  .mw-330 {
    max-width: 330px;
    width: 100%;
  }
  /* MAX WIDTH 684 */
  .mw-684 {
    max-width: 684px;
    width: 100%;
  }
  /* MAX / WIDTH 1440 */
  /* Main container width */
  .w-1440 {
    max-width: 1440px;
    width: 100%;
  }
}
