@import "../../assets/palette";

/* Common margins */
.m-24 {
  margin: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-24 {
  margin-right: 24px;
}

/* Common paddings */
.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

/* padding za glavne containere */
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.m-24 {
  padding: 24px;
}

/* Custom width */
.mw-330 {
  max-width: 330px;
  width: 100%;
}

.mw-684 {
  max-width: 684px;
  width: 100%;
}

/* Sirina glavnih containera */
.w-1440 {
  max-width: 1440px;
  width: 100%;
  //padding-left: 24px;
  //padding-right: 24px;
}

/* Main background colors */
.main-background {
  background: $main-dark-blue;
}

/* Gradients buttons */
.button-gradient-green {
  @include gradient();
  border: none;
  border-radius: 4px;
  font: normal normal 600 14px/21px Poppins;
  color: white;
  height: 40px;
  width: 160px;
}

.button-border-green {
  @include border-green6();
  color: white;
  background: transparent;
  height: 40px;
  width: 160px;
}
