/* Custom styles for angular material inputs */
@import "../palette";

/* Basic input styles */

/* Change INPUT TEXT COLOR styles in */
input {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  --placeHolder-color: white;

  #placeholder {
    color: white;
  }
}

input::placeholder {
  color: var(--placeHolder-color);
}

input::-webkit-input-placeholder {
  /* Edge */
  color: var(--placeHolder-color);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeHolder-color);
}

/* AUTOCOMPLETE STYLE */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* CUSTOM CLASS MAT-INPUT STYLE */
.custom-input-field {
  /* default style , without action */
  .mat-form-field-outline {
    background: $inputDefaultBackground !important;
    border-radius: 5px;
    color: $inputDefaultOutline !important;
  }

  /* Hovered input */
  &:hover {
    .mat-form-field-outline {
      color: $inputHoverOutline !important;
    }
  }

  /* clicked / focused input , selected input */
  &.mat-focused {
    .mat-form-field-outline {
      color: $inputActiveOutline !important;

      &.mat-form-field-outline-thick {
        color: $inputActiveOutline !important;
      }
    }
  }

  /* Wrong input / error */
  &.mat-form-field-invalid {
    .mat-form-field-outline {
      color: $inputErrorOutline !important;
    }
  }
}

/* DEFAULT MATERIAL INPUT PLACEHOLDER */
.mat-input-element::-webkit-input-placeholder {
  color: white;
}

/* Inputs */
mat-label {
  font: normal normal 600 10px/24px Poppins;
  color: white;
}

/* DEFAULT MATERIAL INPUT TEXT COLOR */
mat-form-field {
  input {
    color: white;
  }

  // MAIN INPUT text color
  .mat-form-field-infix {
    input {
      color: white;
    }
  }
}
