@import "../../../../assets/palette";

.leadbord-wrapper {
  display: flex;
  justify-content: center;
  background: $main-dark-blue;
  //padding-top: 32px;
  /* Menu bug */
  margin-top: -88px;
}

@media screen and (min-width: 576px) {
  .leadbord-wrapper {
    padding-top: 120px;
  }
}

@media screen and (max-width: 576px) {
  .leadbord-wrapper {
    padding: 100px 12px 0;
  }
}
