@import "../../../../assets/palette";

.leadbord-wrapper {
  display: flex;
  justify-content: center;
  background: $main-dark-blue;
  //padding-top: 32px;
  /* Menu bug */
  margin-top: -88px;
  padding-top: 120px;
}
